apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    openshift.io/host.generated: "true"
  labels:
    app: quarkusdroneshop-web
    app.kubernetes.io/component: quarkusdroneshop-web
    app.kubernetes.io/instance: quarkusdroneshop-web
    app.kubernetes.io/name: ""
    app.kubernetes.io/part-of: quarkus-cafe
    app.openshift.io/runtime: ""
    app.openshift.io/runtime-version: latest
    jeremydavis/quarkusdroneshop-web: ""
  name: quarkusdroneshop-web
  namespace: {{ project_namespace }}
spec:
  host: quarkusdroneshop-web-{{ project_namespace }}.apps.{{ domain }}
  port:
    targetPort: 8080-tcp
  to:
    kind: Service
    name: quarkusdroneshop-web
    weight: 100
  wildcardPolicy: None