source.envaider-env/bin/activate
aider_setup.sh
aider-env/bin/activate
node_modules
.aider*
.DS_Store
source.env
skupper-token-a.yaml
skupper-token-b.yaml
skupper-token-c.yaml
openmetadata_backup.sql
