apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: amq-streams-console
  namespace: {{ project_namespace }}
spec:
  channel: {{ consolechannel }}
  installPlanApproval: Automatic
  name: amq-streams-console
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  startingCSV: {{ consolestartingCSV }}
