apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  annotations:
    #strimzi.io/kraft: enabled ##KRaftのバグ
    strimzi.io/node-pools: enabled
  name: cafe-cluster
  namespace: {{ project_namespace }}
spec:
  kafka:
    version: "3.9.0"
    replicas: 3
    #controllerReplicas: 3 ##KRaftのバグ
    zookeeper:
      replicas: 3
    config:
      #node.id: 1 ##KRaftのバグ
      #process.roles: "controller,broker"　##KRaftのバグ
      controller.listener.names: CONTROLLER
      inter.broker.protocol.version: "3.9"
      log.dirs: "/var/lib/kafka/data"
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      default.replication.factor: 3
      min.insync.replicas: 2
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
    storage:
      type: persistent-claim
      size: 10Gi
      deleteClaim: false
  entityOperator:
    topicOperator: {}
    userOperator: {}
---
##KRaftのバグ対応で一旦残すが、無視される
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: cafe-cluster-controllers
  namespace: {{ project_namespace }}
  labels:
    strimzi.io/cluster: cafe-cluster
spec:
  replicas: 3
  roles:
    - controller
  storage:
    type: ephemeral
---
##KRaftのバグ対応で一旦残すが、無視される
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: cafe-cluster-brokers
  namespace: {{ project_namespace }}
  labels:
    strimzi.io/cluster: cafe-cluster
spec:
  replicas: 3
  roles:
    - broker
  storage:
    type: persistent-claim
    size: 10Gi
    deleteClaim: false