apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PostgresCluster
metadata:
  name: coffeeshopdb
  namespace: {{ project_namespace }}
spec:
  backups:
    pgbackrest:
      image: >-
        registry.connect.redhat.com/crunchydata/crunchy-pgbackrest@sha256:826e579759b43ee2f1533f6d8d64f694a756d384db66e54f99aa43a7d015ae0f
      repos:
        - name: repo1
          volume:
            volumeClaimSpec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 1Gi
  image: registry.connect.redhat.com/crunchydata/crunchy-postgres@sha256:75a4247265bea34f10f77367e33a5d3e54081d28c272421ede499c6d9d733a68
  instances:
    - dataVolumeClaimSpec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
      name: ''
      replicas: 1
  port: 5432
  postgresVersion: 17
  users:
    - databases:
        - coffeeshopdb
      name: coffeeshopadmin

