apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PGAdmin
metadata:
  name: pgadmin4
  namespace: {{ project_namespace }}
spec:
  dataVolumeClaimSpec:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 1Gi

  # serviceName が無いと Crunchy Postgres Operator は ClusterIP Service を
  # 一切作成しない(仕様どおりの挙動。バグではない)。Route から参照するために必須。
  serviceName: pgadmin4

  users:
    - username: {{ pgadmin_setup_email }}
      role: User
      passwordRef:
        name: pgadmin4-secret
        key: password

  serverGroups:
    - name: droneshopdb
      postgresClusterSelector:
        matchLabels:
          postgres-operator.crunchydata.com/cluster: droneshopdb
---
apiVersion: v1
kind: Secret
metadata:
  name: pgadmin4-secret
  namespace: {{ project_namespace }}
type: Opaque
stringData:
  password: {{ pgadmin_default_password }}
