apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PGAdmin
metadata:
  name: pgadmin4
  namespace: {{ project_namespace }}
spec:
  dataVolumeClaimSpec:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 1Gi
  users:
    - username: {{ pgadmin_setup_email }}
      role: User
      passwordRef:
        name: pgadmin4-secret
        key: password
  serverGroups:
    - name: Crunchy Postgres for Kubernetes
      postgresClusterSelector:
        matchLabels:
          postgres-operator.crunchydata.com/cluster: coffeeshopdb
#  config:
#    configDatabaseURI:
#      name: coffeeshopdb-pguser-coffeeshopadmin
#      key: uri
---
apiVersion: v1
kind: Secret
metadata:
  name: pgadmin4-secret
  namespace: {{ project_namespace }}
type: Opaque
stringData:
  password: {{ pgadmin_default_password }}
---
apiVersion: v1
kind: Service
metadata:
  name: pgadmin4
  namespace: {{ project_namespace }}
spec:
  selector:
    postgres-operator.crunchydata.com/role: pgadmin
  ports:
    - port: 80
      targetPort: 5050
      protocol: TCP
      name: http
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: pgadmin4
  namespace: {{ project_namespace }}
spec:
  to:
    kind: Service
    name: pgadmin4
  port:
    targetPort: http
  tls:
    termination: edge
